<?xml version="1.0"?>
<robot name="wxai_gripper">
  <material name="trossen_black">
    <texture filename="package://trossen_arm_description/meshes/trossen_black.png"/>
  </material>

  <!-- Base world link -->
  <link name="world"/>

  <!-- Gripper base link (was link_6 in the full arm) -->
  <link name="gripper_base">
    <inertial>
      <origin rpy="0 0 0" xyz="0.04572768 -0.00000726 0.00001402"/>
      <mass value="0.55469347"/>
      <inertia ixx="0.00082429" ixy="-0.00000051" ixz="0.00000010" iyy="0.00048759" iyz="0.00000004" izz="0.00108600"/>
    </inertial>
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/visual/link_6.stl"/>
      </geometry>
      <material name="trossen_black"/>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/collision/link_6.obj"/>
      </geometry>
    </collision>
  </link>

  <!-- Fixed joint connecting world to gripper base -->
  <joint name="gripper_base_joint" type="fixed">
    <origin rpy="0 0 0" xyz="0 0 0"/>
    <parent link="world"/>
    <child link="gripper_base"/>
  </joint>

  <!-- Right carriage -->
  <link name="carriage_right">
    <inertial>
      <origin rpy="0 0 0" xyz="-0.00889602 0.00403514 0.00457901"/>
      <mass value="0.05036313"/>
      <inertia ixx="0.00001736" ixy="-0.00000165" ixz="-0.00000104" iyy="0.00000591" iyz="-0.00000172" izz="0.00001378"/>
    </inertial>
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/visual/carriage_right.stl"/>
      </geometry>
      <material name="trossen_black"/>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/collision/carriage_right.obj"/>
      </geometry>
    </collision>
  </link>

  <!-- RIGHT CARRIAGE JOINT - NO MIMIC for retargeting -->
  <joint name="right_carriage_joint" type="prismatic">
    <origin rpy="0 0 0" xyz="0.0865 -0.023 0"/>
    <parent link="gripper_base"/>
    <child link="carriage_right"/>
    <!-- REMOVED: <mimic joint="left_carriage_joint"/> -->
    <axis xyz="0 -1 0"/>
    <limit effort="400.0" lower="0.0" upper="0.044" velocity="0.0875"/>
  </joint>

  <!-- Left carriage -->
  <link name="carriage_left">
    <inertial>
      <origin rpy="0 0 0" xyz="-0.00889602 -0.00403515 -0.00457908"/>
      <mass value="0.05036313"/>
      <inertia ixx="0.00001736" ixy="-0.00000165" ixz="-0.00000104" iyy="0.00000591" iyz="-0.00000172" izz="0.00001378"/>
    </inertial>
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/visual/carriage_left.stl"/>
      </geometry>
      <material name="trossen_black"/>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/collision/carriage_left.obj"/>
      </geometry>
    </collision>
  </link>

  <!-- LEFT CARRIAGE JOINT - Independent control for retargeting -->
  <joint name="left_carriage_joint" type="prismatic">
    <origin rpy="0 0 0" xyz="0.0865 0.023 0"/>
    <parent link="gripper_base"/>
    <child link="carriage_left"/>
    <axis xyz="0 1 0"/>
    <limit effort="400.0" lower="0.0" upper="0.044" velocity="0.0875"/>
  </joint>

  <!-- Left gripper finger -->
  <link name="gripper_left">
    <inertial>
      <origin rpy="0 0 0" xyz="0.01893993 -0.00901223 -0.00215453"/>
      <mass value="0.03090787"/>
      <inertia ixx="0.00000769" ixy="0.00000321" ixz="0.00000029" iyy="0.00001487" iyz="-0.00000020" izz="0.00001184"/>
    </inertial>
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/visual/gripper_left.stl"/>
      </geometry>
      <material name="trossen_black"/>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/collision/gripper_left.obj"/>
      </geometry>
    </collision>
  </link>

  <joint name="left_gripper_joint" type="fixed">
    <origin rpy="0 0 0" xyz="0 0 0"/>
    <parent link="carriage_left"/>
    <child link="gripper_left"/>
  </joint>

  <!-- Right gripper finger -->
  <link name="gripper_right">
    <inertial>
      <origin rpy="0 0 0" xyz="0.01893989 0.00901216 -0.00215461"/>
      <mass value="0.03090786"/>
      <inertia ixx="0.00000769" ixy="-0.00000321" ixz="0.00000029" iyy="0.00001487" iyz="0.00000020" izz="0.00001184"/>
    </inertial>
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/visual/gripper_right.stl"/>
      </geometry>
      <material name="trossen_black"/>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/collision/gripper_right.obj"/>
      </geometry>
    </collision>
  </link>

  <joint name="right_gripper_joint" type="fixed">
    <origin rpy="0 0 0" xyz="0 0 0"/>
    <parent link="carriage_right"/>
    <child link="gripper_right"/>
  </joint>

  <!-- End effector frame -->
  <joint name="ee_gripper" type="fixed">
    <origin rpy="0 0 0" xyz="0.156062 0 0"/>
    <parent link="gripper_base"/>
    <child link="ee_gripper_link"/>
  </joint>
  
  <link name="ee_gripper_link"/>

</robot>